@media screen and (max-width: 1000px) {
    .banner-section {
        margin-left: 60px;

        & h1 {
            font-size: 70px;
        }
    }

    .target-section {
        .target-section-details p {
            padding: 40px 20px;
            font-size: 22px;
        }

        .target-section-details-button {
            & span {
                padding: 0;
                font-size: 12px;
            }
        }
    }

    .track-section {

        .track-left-section {

            & h2 {
                font-size: 70px;
            }
        }
        .track-right-section {

            & h3 {
                font-size: 35px;
                padding-inline: 1rem;
            }
        }
    }
}

/* Responsive for mobile */
@media screen and (max-width: 767px) {
    /* Common css style start */
    .container {
        padding: 0 16px;
    }

    .between {
        gap: 3rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-top: 50px;
    }

    /* Common css style end */
    .banner-section {
        padding: 60px 16px;
        position: relative;
        right: 115px;

        & h1 {
            font-size: 40px;
        }

        & p {
            padding: 16px 0;
            font-size: 20px;
        }
    }

    .track-section {
        .track-bg {
            width: 100%;
        }

        .track-left-section {
            & h2 {
                font-size: 40px;
            }

            .track-img-grid-section {
                padding: 40px 0 0 40px;
                gap: 16px;

                & div {
                    width: 130px;
                    gap: 16px;
                }
            }
        }

        .track-right-section {
            & h3 {
                font-size: 24px;
                padding-right: 0;
            }

            .track-right-section-details {
                gap: 16px;
                margin-top: 24px;

                & div {
                    padding-top: 16px;
                }
            }
        }
    }

    .company {
        margin-top: 50px;
    }

    /* Join Section */
    .join {
        margin: 80px auto;
        border-radius: 24px;
        grid-template-columns: repeat(1, minmax(0, 1fr));

        .join-details {
            margin: 16px;

            & h2 {
                font-size: 40px;
            }

            .join-section-details-button {
                gap: 12px;
                padding: 12px 24px;
                border-radius: 14px;

                & img {
                    width: 20px;
                }

                & h3 {
                    font-size: 16px;
                }
            }
        }
    }
}
